# American Census

In [2]:
import numpy as np
import pandas as pd

from sklearn.naive_bayes import GaussianNB
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt

## Global config

In [3]:
# Data config
path_to_csv = "adult.csv"

## Load data

In [4]:
X_train = pd.read_csv("X_train.csv")
y_train = pd.read_csv("y_train.csv")

X_test = pd.read_csv("X_test.csv")

X_train

,age,education-num,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,30,9.0,40,Private,HS-grad,Married-civ-spouse,Sales,Own-child,Asian-Pac-Islander,Female,United-States
1,77,10.0,6,NaN,Some-college,Married-civ-spouse,NaN,Husband,White,Male,United-States
2,44,12.0,50,Private,Assoc-acdm,Never-married,Prof-specialty,Unmarried,Black,Female,United-States
3,53,10.0,50,Private,Some-college,Never-married,Adm-clerical,Not-in-family,White,Female,United-States
4,41,10.0,40,Federal-gov,Some-college,Married-civ-spouse,Transport-moving,Wife,White,Female,United-States
...,...,...,...,...,...,...,...,...,...,...,...
16275,31,11.0,30,Private,Assoc-voc,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States
16276,37,13.0,40,State-gov,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Female,United-States
16277,45,14.0,40,State-gov,Masters,Divorced,Exec-managerial,Unmarried,White,Female,United-States
16278,32,9.0,40,Private,HS-grad,Never-married,Machine-op-inspct,Not-in-family,White,Male,United-States
16279,58,7.0,50,Private,11th,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States

## Helpers

In [9]:
y_train

       salary
0           0
1           0
2           0
3           1
4           1
...       ...
16275       1
16276       0
16277       0
16278       0
16279       0

[16280 rows x 1 columns]

## Data exploration

### Question 1

In [5]:
# TODO

### Question 2

In [6]:
# TODO

## Data exploration

### Question 1

In [7]:
# TODO

### Question 2

In [8]:
# TODO

### Question 3

In [9]:
# TODO

## Experiments

### Question 1

In [10]:
# TODO

### Question 2

In [11]:
# TODO

### Question 3

In [12]:
# TODO

### Question 4

In [13]:
#TODO

### Question 5

In [14]:
#TODO
prediction = np.array([-1] * len(X_test)) #TODO replace this with you own prediction
pd.DataFrame(prediction).to_csv("GROUP_classes_problem_census.txt", index=False, header=False)